.App {
  width: 90%;
  margin: 0 auto;
  padding-top:50px;
  box-sizing: border-box;
}

.app-logo {
  height: 80px;
  margin-bottom: 20px;
  display: block;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
* {
  box-sizing: border-box;
}
