.App {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
}

.app-logo {
  height: 80px;
  margin-bottom: 20px;
  display: block;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}
html, body {
  height: 100%;
}
.input-range {
  width: 80%;
  margin: 0 auto;
}
.Footer {
  flexShrink: 0;
  width:  100% ;
  display:  flex ;
  flexDirection:  row ;
  alignItems:  center ;
  justifyContent:  center ;
  padding:  30px ;
  background:  #5f4c7c ;
  font-size: 16;
  color:  white ;
  font-family:  Akkurat-Light ;
},
body {
  display: flex;
  flex-direction: column;
}
.text-stroke {
  -webkit-text-stroke: 3px white;
}
#root{
  height: 100%;
}
.App-intro {
  font-size: large;
}
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
